/*Regras e fontes*/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');/*"Passion One" "Sriracha"*/

:root{
    --fonteDestaque: "Passion One";
    --fontePadrao: 'Sriracha';
    --cor01: #ffffff;
    --cor02: #00000066;
    --cor03: #ffeb85a9;
}
/*estilização geral*/
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor01);
    margin: auto;
}

/*Cabeçalho*/
header{
    padding-top: 4vh;
    background: black;
    color: white;
    text-align: center;
}
header h1{
    font-family: var(--fonteDestaque);
    font-variant: small-caps;
}
header p{
    padding: 0.4em 0 5vh;
}
header a{
    color: var(--cor01);
    text-decoration: none;
}

/*Conteúdo Principal*/
main{
    max-width: 75vw;
    margin: auto;
    background-color: var(--cor03);
}
main p{
    font-family: var(--fontePadrao);
    
}
main section{
    min-height: 50vh;
    max-height: 100vh;
}
main section/*.normal*/{
    position: relative;
    padding-top: 1em;
    padding: 8vh 2vh 8vh 2vh;
}
main section div{
    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}
main section.imagem{    
    background: darkgrey;
}

section#imagem01{
    background-image: url('../imagens/background001.jpg');
    background-position: left center;
    background-attachment: fixed;
    background-size: cover;
}
section#imagem02{
    background-image: url('../imagens/background002.jpg');
    background-position: left center;
    background-attachment: fixed;
    background-size: cover
}
section.imagem p{
    color: var(--cor01);
    background-color: var(--cor02);
    max-width: 14em;
    padding: 0.4em;
}

/*Rodapé*/
footer{
    text-align: center;
    padding: 4vh;
    background: #000000;
    color: #ffffff;
}
footer a{
    color: var(--cor01);
    text-decoration: none;
}